<span>{{name}} welcomes you this first angular app</span>
<div>
  <button [style.color]="show?'#35578f':'#cc0e47'" [style.background-color]="show?'#f7f2f4':'#0a0a0a'" (click)="changeName()">Click here please</button>
</div>
<div>
  <img [src]="imageUrl" alt="photo" height="100px" width="100px"/>
</div>
<div>Show={{show}}</div>
<div *ngIf="show; else elseBlock">Primary Block</div>
<ng-template #elseBlock>Alternate text while primary text is hidden </ng-template>

<ul>
  <li *ngFor="let t of techStack; let i=index">
    {{i}} = {{t}}
  </li>
</ul>

<h4>
  Current choice is {{ value }}
</h4>
<div [ngSwitch]="value">
  <p *ngSwitchCase="1">First Choice</p>
  <p *ngSwitchCase="2">Second Choice</p>
  <p *ngSwitchCase="3">Third Choice</p>
  <p *ngSwitchCase="2">Second Choice Again</p>
  <p *ngSwitchDefault>Default Choice</p>
</div>
<div>
  <button (click)="nextChoice()">
                Next Choice
        </button>
</div>
<input type="text" [(ngModel)]="name"> <br/>
<div>Hello , {{ name | uppercase}}</div>
<p>{{"9870"|currency:"EUR":"symbol":"6.2-3"}}</p>

<h3> Product Details in JSON Format </h3>
{{ product | json }}


<table border="1">
  <thead>
      <tr>
          <th>Sorted</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let el of numberList | sort">
          <td>{{el}}</td>
      </tr>
  </tbody>
</table>
